@import "materialize";
@import "variables";

html {
  background: url('../css/images/background_carto_light.jpg') no-repeat fixed;
  background-size: cover;
}

.Titre {
  @extend .center;
  @extend .teal-text, .text-lighten-1;
}

a {
  @extend .teal-text, .text-lighten-1;
}


.second {
  padding: $pad;
  background-color: white;
}

#map {
  height: 800px;
  width: 100%;
}

.footer {
  @extend .footer-copyright;
}

#inputFile {
  @extend .col, .l8, .m8, .s8;
}

.inputSubmit {
  @extend .col, .l4, .m4, .s4;
}

form {
  .bouton {
    @extend .btn, .btn-large, .btn-flat;
    &:hover {
      color: white;
    }
  }
}

label {
  font-size: larger;
}

.google {
  border: 1px darkgrey solid;
  padding:2rem;
}

.leaflet-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.confirm-success {
  position: absolute;
  top: 5px;
  color: white;
}