<div ng-if='imgAdded' class="card-panel teal lighten-2 confirm-success">Image ajoutée à la série</div>

<div class="row">
<h5 class="Titre col l12 m12 s12">Liste des séries existantes</h5>
</div>
<div class="row">
    <ul class="col l12 m12 s12">
        <li ng-repeat="serie in seriesList">
            <a ng-href="#/series/{{serie.id}}">{{serie.ville}}</a>
        </li>
    </ul>
    <p class="col l12 m12 s12">
       <a ng-href="#/new">Nouvelle série</a>
    </p>
</div>