<div class="row">
<h1 class="Titre col l12 m12 s12">Ajout d'une nouvelle série :</h1>
</div>

<form class="row">
    <label for="ville" class="col l12 m12 s12">Ville : </label>
    <input class="col l12 m12 s12" type='text' ng-model="serieN.ville" id="ville" placeholder="Nom de la ville"/>
    <br>
    <label for="distance" class="col l12 m12 s12">Distance : </label>
    <input class="col l12 m12 s12" type='number' ng-model="serieN.distance" id="distance" placeholder="Distance"/>
    <br>
    <label for="lat" class="col l12 m12 s12">Latitude : </label>
    <input class="col l12 m12 s12" type='number' step="any" ng-model="serieN.lat" id="lat" placeholder="Latitude"/>
    <br>
    <label for="lon" class="col l12 m12 s12">Longitude : </label>
    <input class="col l12 m12 s12" type='number' step="any" ng-model="serieN.lon" id="lon" placeholder="Longitude"/>
    <br>
    <label for="zoom" class="col l12 m12 s12">Zoom : </label>
    <input class="col l12 m12 s12" type='number' ng-model="serieN.zoom" id="zoom" placeholder="Niveau de zoom (1 à 15)"/>
    <br>
    <button class="bouton col l12 m12 s12" ng-click="newSerie()">Créer</button>
</form>