<div class="row">
<h5 class="Titre col l12 m12 s12">Ajout d'une nouvelle photo dans {{serie.ville}}:</h5>
</div>
<form class="row" >
    <input class="col l10 m8 s12" type='file' file-model="myFile" required/>
    <button class="bouton col l2 m4 s12" ng-click="uploadPhoto()">Uploader</button>
</form>