@import "materialize";
@import "variables";

body {
  background: url('../css/images/background_carto_fonce.jpg') no-repeat fixed;
  background-size: cover;
  color: white;
}

p {
  @extend .white-text, .center-align;
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 0;
  margin-top: 0;
}

a {
  color: $amber;
}

.Titre {
  @extend .center;
  @extend .amber-text;
  margin-bottom: 0;
  margin-top: 0;
  a {
    @extend .white-text;
  }
}

.leaflet-container {
  cursor: pointer;
}

.red {
  border-radius: 120px;
  opacity: .75;
  background-color: #FF0000;
}

.icongreen{
  width: 0; 
  opacity: .75;
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid green;
  font-size: 0;
  line-height: 0;
}

.lien {
  padding: $pad;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid $amber;
  font-weight: bolder;
  background-color: transparentize($amber, 0.5);

  &:hover, &:active, &:focus {
    @extend .amber, .lighten-5;
    border: 1px solid $amber;
  }

  a {
    color: white;
  }
}

.bouton {
  @extend .btn, .btn-large, .btn-flat;
  background-color: transparentize($amber, .4);
  color: white;
  font-weight: bolder;
  &:hover {
    @extend .amber;
    color: white;
  }
}

.tableau {
  @extend .centered, .bordered;
  color: $amber;
  background-color: transparentize(black, 0.6);
  thead {
    color: white;
    background-color: $amber;
    font-size: 1.2rem;
  }

}

p#ownScore {
  @extend .amber-text;
  margin-top: $pad*2;
  padding: $pad*2;
  color: $amber;
  background-color: transparentize(white, .8);
  font-weight: bolder;
}

.row {
  ul {
    li {
      background-color: transparentize(black, 0.6);
    }
  }
}

.loading {
  @extend .center;
}

.image {
  @extend .center;
  img {
    @extend .center;
    width: auto;
    height: 15rem;
  }
}

input {
  color: white;

  &:focus, &:active {
    border-bottom: 2px white solid;
  }
}

.timer {
  background-color: transparentize($red, .4);
}

.jeu {
  h5 {
    @extend .center;
    font-weight: bolder;
  }
}

.milieu {
  margin-top: $pad*15;
}

.maps {
  margin-left: auto;
  margin-right: auto;
}
