<div class="lien row milieu">
    <a ng-href="#/series" class="col l12 m12 s12">Nouvelle partie</a>
</div>

<div class="lien row">
    <a ng-href="#/scores" class="col l12 m12 s12">Meilleurs scores</a>
</div>
