<div class="row milieu">
    <h3 class="Titre col l12 m12 s12">Selectionnez une série</h3>
</div>
<div class="row">
    <ul>
        <li class="col l12 m12 s12" ng-repeat="serie in listeSerie">
            <!--<a ng-href="#/series/{{serie.id}}">{{serie.ville}}</a>-->
            <a ng-href="#/series/{{serie.id}}/newgame">{{serie.ville}}</a>

        </li>
    </ul>
</div>
