
<form class="row milieu">
    <input class="col l8 m8 s12" type="text" name="pseudo" placeholder="Pseudo" ng-model="pseudo" required/>
    <button ng-click="startGame()" class="bouton col l4 m4 s12">Go !</button>
</form>
