<div class="row milieu">
    <h2 class="Titre col l12 m12 s12">Tableau des scores</h2>
</div>

<div class="row">
    <!--<h4 class="Titre col l12 m12 s12">Meilleurs joueurs :</h4>-->
    <table class="tableau">
        <!-- <caption>Meilleurs joueurs</caption>-->
        <thead>
        <tr>
            <th>
                Pseudo
            </th>
            <th>
                Score
            </th>            
            <th>
                Serie
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="best in bestScore">
            <td>
                {{best.joueur}}
            </td>
            <td>
                {{best.score}}
            </td>            
            <td>
                {{best.serie.ville}}
            </td>            
        </tr>
        </tbody>
    </table>

    <p ng-if="ownScore" id="ownScore">Bravo {{ownScore.joueur}} ton score est de {{ownScore.score}} pts !</p>
</div>