<div class="row">
    <div class="col l12 m12 s12" ng-controller="partieController">
        <div ng-if="loading == false">
            <h3 class="Titre col l12 m12 s12">{{serie.ville}}</h3>
            <div ng-if="enCours == false">
              <button type="button" data-ng-click="temps()" class="bouton col l12 m12 s12">Lancez la partie !</button>
            </div>

            <div class="jeu col l12 m12 s12">
               <div class=" image col l6 m6 s12">
                <img src="{{urlPhoto}}"/>
               </div>
                <p class="timer col l6 m12 s12"><em>{{tempsAffichage}}</em></p>
                <p class="col l6 m12 s12">{{distance}}</p>

                <div ng-if="enCours == true">
                    <p class="col l6 m12 s12">Score : {{scoreImg}}</p>
                </div>
                <h5 class="col l6 m12 s12">{{description}}</h5>
            </div>
        </div>
        <div ng-if="loading == true" class="loading col l12 m12 s12">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="MapController" class="col l12 m12 s12">
            <div ng-if='coo' class="maps">
                <leaflet defaults="defaults" lf-center="ville" markers="markers" event-broadcast="events" width="100%"
                         height="700px"></leaflet>
            </div>
        </div>
    </div>
</div>
