<div class="row">
<h5 class="Titre col l12 m12 s12">Infos sur la photo</h5>
</div>
<!--<div class="divider">-->
<div ng-if='imgUploaded' class="card-panel teal lighten-2 confirm-success">Image téléchargée avec succès</div>

<form class="row google" >
    <label class="col l12 m12 s12">Rechercher un endroit précis dans la carte : </label>
    <input class="col l10 m8 s12" type="text" name="requete" ng-model="rech" placeholder="Ex: Tour Eiffel" required/>
    <button class="bouton col l2 m4 s12" ng-click="searchVille()">
        Rechercher
    </button>
</form>


<form class="row">
    <label class="col l12 m12 s12">Description de la photo :</label>
    <input class="col l12 m12 s12" type="text" name="description" placeholder="Description..." ng-model="descr" required/>
    <!--<div id="map"></div>-->
    <p>Latitude : {{latMap}}, Longitude : {{lngMap}}</p>
    <leaflet defaults="defaults" lf-center="ville" width="100%" height="400px" event-broadcast="events" markers="markers"></leaflet>
    <button class="col l12 m12 s12 bouton" ng-click="addDescr()">Valider</button>
</form>
<!--
</div>-->
